{% comment %}
    Banner with text overlay
{% endcomment %}
<div class="ldpSection animationSection ldpbannerWithTextOverlay">
  
    <div class="countdownBlock">
        <div class="container">
            <div class="countdownBlock-inner">
                <div class="countdown-timer-block" countdown-timer-id="cmcbo53m9006zax9pjktk390g"></div>
            </div>
        </div>
    </div>
    <div class="bannerWithtextOverlayBlock">
        <div class="bannerWithtextOverlay-media">
            <img src="https://cdn.shopify.com/s/files/1/0583/8441/6811/files/bd38e2954b3864a59275f65f54a8273e.jpg?v=1734630565" alt="{{ shop.name }}"
            width=""
            height=""
            loading="lazy"
            >
        </div>
        
        <div class="bannerWithtextOverlay-text">
            <div class="container h-100">
                <div class="bannerWithtextOverlay-textWapper h-100 animationBlock bottomToTop">
                    <div class="bannerWithtextOverlay-textInner">
                        <h3>
                            Giới thiệu <span class="highlight">WorkLuz</span>
                        </h3>
                        <p>
                            Workluz là tổ chức vì cộng đồng gồm các nhân viên công sở từ nhiều nơi làm việc khác nhau, với mục tiêu cải thiện sức khỏe tinh thần cho những ai đang bị kiệt sức vì áp lực công việc. Chúng tôi tổ chức chuỗi hội thảo trực tuyến để đưa ra tầm nhìn và phương pháp giải quyết các vấn đề nơi công sở. Ngoài ra, Workluz còn tổ chức các hoạt động offline, nhằm tăng cường sự kết nối và tương tác giữa các nhân viên, tạo môi trường hỗ trợ phát triển toàn diện về công việc và tinh thần.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "LDP Bannerwithtextoverlay",
    "settings": [],
    "presets": [
      {
        "name":"LDP Bannerwithtextoverlay"
      }
    ]
  }
{% endschema %}