{% comment %}
    Hero Banner
{% endcomment %}
<div class="ldpSection animationSection ldpHeroBanner noSpacingTop active">
    <div class="mediaContainer">
        <img src="https://cdn.shopify.com/s/files/1/0583/8441/6811/files/1_11.jpg?v=1734625960" alt="{{ shop.name }}"
        width=""
        height=""
        loading="lazy"
        >
    </div>
    <div class="contentContainer bannerContent--bottom-center ">
        <div class="contentInnerContainer">
            <div class="container">
                <div class="contentInner animationBlock leftToRight">
                    <p class="contentSubTitle " style="color: #fff">Khóa học trực tuyến</p>
                  <h2 class="contentTitle heading-font color-heading" style="margin-bottom: 0">Khai phóng tầm nhìn</h2>
                   <h2 class="contentTitle heading-font" style="color: #fff; margin-top: 0">Kiến tạo tương lai</h2>
                    <div class="contentText">
                        <ul style="margin-bottom: 16px;margin-left: 0;padding-left: 12px">
                          <li>Kiệt sức vì công việc khiến bạn không còn năng lượng những điều quan trọng?</li>
                           <li>Khó hàn gắn với bạn bè hay người thân vì những quan điểm khác biệt?</li>
                           <li>Cảm xúc lấn át và mọi thứ dường như không thể kiểm soát?</li>
                           <li>Bất an, lo lắng khi suy nghĩ về hiện tại hay định hướng cho tương lai?</li>
                        </ul>
                        <p>Hàng triệu người từ nhiều lĩnh vực, đã áp dụng "4 phép tính" trong khóa học, những
khó khăn trong quá khứ của họ đã trở thành bước đệm giúp họ có được thành công và hạnh phúc xứng đáng. Còn bạn, đã sẵn sàng cho khóa học?</p>
                        <p class="time_date">
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#0BB3B8"/>
                                <path d="M9.22852 15.2394V15.1901M12.1816 15.2394V15.1901M12.1816 12.5651V12.5157M14.8066 12.5651V12.5157M7.25977 9.94006H16.4473M8.44727 6.16663V7.15112M15.1348 6.16663V7.151M15.1348 7.151H8.57227C7.48496 7.151 6.60352 8.03244 6.60352 9.11975V15.6823C6.60352 16.7696 7.48496 17.6511 8.57227 17.6511H15.1348C16.2221 17.6511 17.1035 16.7696 17.1035 15.6823L17.1035 9.11975C17.1035 8.03244 16.2221 7.151 15.1348 7.151Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>
                              20h00 - 22h00 | Thứ 2, 4, 6 | Ngày bắt đầu: 18.12.2024
                            </span>  
                        </p>
                        <a class="btn btn-primary scroll-toElement" target="_blank" href="#register">
                            Đăng ký tham gia
                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.992 9L20 12M20 12L16.992 15M20 12H4" stroke="#212075" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "LDP Hero banner",
    "settings": [],
    "presets": [
      {
        "name": "LDP Hero banner"
      }
    ]
  }
{% endschema %}