.__instant.iQZ50CmlwAUihboH8 *,
.__instant.iQZ50CmlwAUihboH8 :after,
.__instant.iQZ50CmlwAUihboH8 :before {
    border: 0 solid;
    box-sizing: border-box
}

.__instant.iQZ50CmlwAUihboH8 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    letter-spacing: normal;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4
}

.iQZ50CmlwAUihboH8 hr:not([data-instant-styles=none] *) {
    border-top-width: 1px;
    color: inherit;
    height: 0
}

.iQZ50CmlwAUihboH8 abbr[title]:not([data-instant-styles=none] *) {
    text-decoration: underline dotted
}

.iQZ50CmlwAUihboH8 h1:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h2:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h3:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h4:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h5:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h6:not([data-instant-styles=none] *) {
    font-size: inherit;
    font-weight: inherit
}

.iQZ50CmlwAUihboH8 a:not([data-instant-styles=none] *) {
    color: inherit;
    text-decoration: inherit
}

.iQZ50CmlwAUihboH8 b:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 strong:not([data-instant-styles=none] *) {
    font-weight: bolder
}

.iQZ50CmlwAUihboH8 small:not([data-instant-styles=none] *) {
    font-size: 80%
}

.iQZ50CmlwAUihboH8 sub:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 sup:not([data-instant-styles=none] *) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.iQZ50CmlwAUihboH8 sub:not([data-instant-styles=none] *) {
    bottom: -.25em
}

.iQZ50CmlwAUihboH8 sup:not([data-instant-styles=none] *) {
    top: -.5em
}

.iQZ50CmlwAUihboH8 table:not([data-instant-styles=none] *) {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0
}

.iQZ50CmlwAUihboH8 button:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 input:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 optgroup:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 select:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 textarea:not([data-instant-styles=none] *) {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0
}

.iQZ50CmlwAUihboH8 button:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 select:not([data-instant-styles=none] *) {
    text-transform: none
}

.iQZ50CmlwAUihboH8 [type=button]:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 [type=reset]:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 [type=submit]:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 button:not([data-instant-styles=none] *) {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    text-align: left
}

.__instant.iQZ50CmlwAUihboH8 :-moz-focusring {
    outline: auto
}

.__instant.iQZ50CmlwAUihboH8 :-moz-ui-invalid {
    box-shadow: none
}

.iQZ50CmlwAUihboH8 progress:not([data-instant-styles=none] *) {
    vertical-align: baseline
}

.__instant.iQZ50CmlwAUihboH8 ::-webkit-inner-spin-button,
.__instant.iQZ50CmlwAUihboH8 ::-webkit-outer-spin-button {
    height: auto
}

.iQZ50CmlwAUihboH8 [type=search]:not([data-instant-styles=none] *) {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

.__instant.iQZ50CmlwAUihboH8 ::-webkit-search-decoration {
    -webkit-appearance: none
}

.__instant.iQZ50CmlwAUihboH8 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.iQZ50CmlwAUihboH8 summary:not([data-instant-styles=none] *) {
    display: list-item
}

.iQZ50CmlwAUihboH8 blockquote:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 dd:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 dl:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 figure:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h1:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h2:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h3:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h4:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h5:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 h6:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 hr:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 p:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 pre:not([data-instant-styles=none] *) {
    margin: 0
}

.iQZ50CmlwAUihboH8 fieldset:not([data-instant-styles=none] *) {
    margin: 0;
    padding: 0
}

.iQZ50CmlwAUihboH8 legend:not([data-instant-styles=none] *) {
    padding: 0
}

.iQZ50CmlwAUihboH8 ol:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 ul:not([data-instant-styles=none] *) {
    list-style: none;
    margin: 0;
    padding: 0
}

.iQZ50CmlwAUihboH8 textarea:not([data-instant-styles=none] *) {
    resize: vertical
}

.__instant.iQZ50CmlwAUihboH8 input::placeholder,
.__instant.iQZ50CmlwAUihboH8 textarea::placeholder {
    color: inherit;
    opacity: 1
}

.iQZ50CmlwAUihboH8 [role=button]:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 button:not([data-instant-styles=none] *) {
    cursor: pointer
}

.__instant.iQZ50CmlwAUihboH8 :disabled {
    cursor: default
}

.iQZ50CmlwAUihboH8 audio:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 canvas:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 embed:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 iframe:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 img:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 object:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 svg:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 video:not([data-instant-styles=none] *) {
    display: block;
    vertical-align: middle
}

.iQZ50CmlwAUihboH8 img:not([data-instant-styles=none] *),
.iQZ50CmlwAUihboH8 video:not([data-instant-styles=none] *) {
    height: auto;
    max-width: 100%
}

.iQZ50CmlwAUihboH8 [hidden]:not([data-instant-styles=none] *) {
    display: none
}

.__instant.iQZ50CmlwAUihboH8 {
    --instant-overflow-clip: clip
}

.__instant.iQZ50CmlwAUihboH8 .instant-editor__link,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text a,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field a {
    text-decoration: underline
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text span,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field span {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h1,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h2,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h3,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h4,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h5,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h6,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text p,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text>span,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h1,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h2,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h3,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h4,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h5,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h6,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field p,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field>span,
.__instant.iQZ50CmlwAUihboH8 [data-instant-dynamic-content-source^=COUNTDOWN_] span {
    background: var(--instant-text-color-gradient);
    background-clip: var(--instant-text-color-clip);
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    overflow-wrap: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    text-wrap: inherit;
    vertical-align: inherit;
    white-space: inherit;
    word-break: inherit;
    -webkit-text-fill-color: var(--instant-text-color-fill)
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text--shopify div {
    display: block;
    white-space: normal
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text--shopify blockquote {
    border-left: 3px solid rgba(0, 0, 0, .2);
    padding: 4px 0 4px 20px;
    white-space: normal
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text--shopify td {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 4px;
    white-space: normal
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h1:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h2:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h3:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h4:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h5:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text h6:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text p:empty:before,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text span:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h1:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h2:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h3:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h4:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h5:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field h6:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field p:empty:before,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field span:empty:before {
    content: "\200B"
}

.__instant.iQZ50CmlwAUihboH8 .instant-rich-text ol,
.__instant.iQZ50CmlwAUihboH8 .instant-rich-text ul,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field ol,
.__instant.iQZ50CmlwAUihboH8 .metafield-rich_text_field ul {
    list-style: revert;
    padding-left: 1.5em;
    white-space: normal
}

.__instant.iQZ50CmlwAUihboH8 .instant-visually-hidden {
    border: 0;
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    outline: 0;
    outline-offset: unset;
    overflow: hidden
}

.__instant.iQZ50CmlwAUihboH8 a[data-instant-disabled=true]:not(.instant-custom-variant-picker),
.__instant.iQZ50CmlwAUihboH8 button[data-instant-disabled=true]:not(.instant-custom-variant-picker) {
    cursor: not-allowed
}

.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker input[type=radio] {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.__instant.iQZ50CmlwAUihboH8 .instant-custom-variant-picker,
.__instant.iQZ50CmlwAUihboH8 .instant-localization-select select,
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker input[type=radio]+label,
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker select {
    cursor: pointer
}

.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker input[type=radio]+label:before {
    bottom: -1px;
    content: "";
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: -1
}

.__instant.iQZ50CmlwAUihboH8 .instant-localization-select select,
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker--select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    outline: none;
    overflow: hidden;
    padding: inherit;
    position: absolute;
    top: 0;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-localization-select :not(select),
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker--select :not(select) {
    pointer-events: none
}

.__instant.iQZ50CmlwAUihboH8 .instant-localization-select select:focus,
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker--select select:focus {
    outline: none
}

.__instant.iQZ50CmlwAUihboH8 .instant-localization-select select:focus-visible,
.__instant.iQZ50CmlwAUihboH8 .instant-variant-picker--select select:focus-visible {
    box-shadow: none
}

.__instant.iQZ50CmlwAUihboH8 .instant-selling-plan-selector {
    cursor: pointer
}

.__instant.iQZ50CmlwAUihboH8 .instant-quantity-input {
    -moz-appearance: textfield;
    appearance: textfield;
    background: transparent;
    box-shadow: inherit;
    outline: none;
    outline-offset: unset;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .instant-quantity-input::-webkit-inner-spin-button,
.__instant.iQZ50CmlwAUihboH8 .instant-quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.__instant.iQZ50CmlwAUihboH8 .instant-image__fallback {
    background-image: url(https://cdn.instant.so/static/templates/assets/placeholder-image-icon.svg)
}

.__instant.iQZ50CmlwAUihboH8 .instant-image__fallback,
.__instant.iQZ50CmlwAUihboH8 .instant-media__fallback {
    background-color: rgba(0, 0, 0, .2);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: clamp(0px, calc(100% - 4px), 48px) clamp(0px, calc(100% - 4px), 48px)
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__container {
    overflow: hidden;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .instant-tiktok__overlay,
.__instant.iQZ50CmlwAUihboH8 .instant-video__iframe,
.__instant.iQZ50CmlwAUihboH8 .instant-video__player,
.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper {
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.__instant.iQZ50CmlwAUihboH8 .instant-tiktok__overlay {
    opacity: 50%
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__fallback {
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: inherit;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 0;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__fallback-external:before {
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 99px;
    content: "";
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__fallback-vimeo:before {
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 4px;
    content: "";
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 84px
}

.__instant.iQZ50CmlwAUihboH8 .instant-tiktok__fallback-icon {
    background-image: url(https://cdn.instant.so/static/templates/assets/placeholder-tiktok-icon.svg)
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__sizer {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__button {
    border-radius: 6px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .24s ease-in-out, color .24s ease-in-out, opacity .24s ease-in-out, box-shadow .24s
}

.__instant.iQZ50CmlwAUihboH8 .instant-youtube__button {
    color: #212121;
    opacity: .8
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper:hover .instant-youtube__button--red {
    color: #bf171d;
    opacity: 1
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper:hover .instant-youtube__button--white {
    color: #fff;
    opacity: 1
}

.__instant.iQZ50CmlwAUihboH8 .instant-youtube__button-play {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .24s ease-in-out
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper:hover .instant-youtube__button--white .instant-youtube__button-play {
    color: #212121
}

.__instant.iQZ50CmlwAUihboH8 .instant-vimeo__button {
    align-items: center;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 84px
}

.__instant.iQZ50CmlwAUihboH8 .instant-external__button {
    align-items: center;
    background-color: #000;
    border-radius: 99px;
    border-style: inset;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px
}

.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper:hover .instant-external__button,
.__instant.iQZ50CmlwAUihboH8 .instant-video__wrapper:hover .instant-vimeo__button {
    background-color: var(--video-button-color);
    color: #000
}

.__instant.iQZ50CmlwAUihboH8 .instant-tiktok__button {
    background-image: url(https://cdn.instant.so/static/templates/assets/play-button.svg);
    height: 72px;
    width: 72px
}

.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__wrapper {
    border-radius: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-fill .instant-video-fill__overlay,
.__instant.iQZ50CmlwAUihboH8 .instant-fill .instant-video-fill__video {
    border-radius: inherit;
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__controls {
    background-color: #fff;
    border: 1px inset rgba(0, 0, 0, .1);
    border-radius: 99px;
    bottom: 32px;
    padding: 8px;
    position: absolute;
    right: 32px
}

@media only screen and (max-width:768px) {
    .__instant.iQZ50CmlwAUihboH8 .instant-video-fill__controls {
        bottom: 20px;
        right: 20px
    }
}

.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__controls .instant-video-fill__pause,
.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__controls .instant-video-fill__play {
    display: none;
    opacity: 0;
    transition: opacity .2s ease-in-out
}

.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__wrapper[data-paused=false] .instant-video-fill__controls .instant-video-fill__play,
.__instant.iQZ50CmlwAUihboH8 .instant-video-fill__wrapper[data-paused=true] .instant-video-fill__controls .instant-video-fill__pause {
    display: block;
    opacity: 1
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-horizontal {
    touch-action: pan-y
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-horizontal>.instant-slider-wrapper {
    flex-direction: row
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-vertical {
    touch-action: pan-x
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-vertical>.instant-slider-wrapper {
    flex-direction: column
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-free-mode>.instant-slider-wrapper {
    transition-timing-function: ease-out
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-auto-slides .instant-slider-slide {
    max-width: none;
    min-width: unset
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-thumbs>.instant-slider-wrapper>.instant-slider-slide {
    cursor: pointer
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-wrapper {
    align-items: inherit;
    align-self: stretch;
    box-sizing: content-box;
    display: flex;
    height: inherit;
    order: 1;
    transform: translateZ(0);
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-slide {
    flex-shrink: 0;
    transition-property: transform
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-button-disabled:not(.__instant_builder_element) {
    opacity: .35
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-button-lock,
.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-lock {
    display: none !important
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active,
.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-main {
    display: flex;
    transform: scale(1)
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next,
.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev {
    display: flex;
    transform: scale(.66)
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-next-next,
.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullets-dynamic .instant-slider-pagination-bullet-active-prev-prev {
    display: flex;
    transform: scale(.33)
}

.__instant.iQZ50CmlwAUihboH8 .instant-slider-pagination-bullet {
    cursor: pointer;
    flex-shrink: 0
}

@keyframes instant-loading-__instant-iQZ50CmlwAUihboH8 {
    0% {
        opacity: 1
    }

    50% {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

.__instant.iQZ50CmlwAUihboH8 .instant-loading {
    animation: instant-loading-__instant-iQZ50CmlwAUihboH8 1s infinite
}

.__instant.iQZ50CmlwAUihboH8 .instant-image.instant-image__main {
    aspect-ratio: inherit;
    border-radius: inherit;
    height: 100%;
    max-height: inherit;
    object-fit: inherit;
    object-position: inherit;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 [data-instant-type=grid]>div>.instant-image__main {
    position: absolute
}

@media only screen and (min-width:1025px) {
    .__instant.iQZ50CmlwAUihboH8 .instant-responsive:not(.instant-responsive--desktop) {
        display: none
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .__instant.iQZ50CmlwAUihboH8 .instant-responsive:not(.instant-responsive--laptop) {
        display: none
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .__instant.iQZ50CmlwAUihboH8 .instant-responsive:not(.instant-responsive--tablet) {
        display: none
    }
}

@media only screen and (max-width:575px) {
    .__instant.iQZ50CmlwAUihboH8 .instant-responsive:not(.instant-responsive--mobile) {
        display: none
    }
}

.__instant.iQZ50CmlwAUihboH8 .instant-fill.instant-image__fill,
.__instant.iQZ50CmlwAUihboH8 .instant-icon,
.__instant.iQZ50CmlwAUihboH8 .instant-image.instant-image__fill {
    border-radius: inherit;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-fill[data-trigger],
.__instant.iQZ50CmlwAUihboH8 .instant-icon[data-trigger],
.__instant.iQZ50CmlwAUihboH8 .instant-image[data-trigger] {
    opacity: 0
}

.__instant.iQZ50CmlwAUihboH8 .instant-icon,
.__instant.iQZ50CmlwAUihboH8 .instant-image__main {
    transition-delay: inherit;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: inherit
}

.__instant.iQZ50CmlwAUihboH8 div[data-instant-href],
.__instant.iQZ50CmlwAUihboH8 form[data-instant-href] {
    cursor: pointer
}

.__instant.iQZ50CmlwAUihboH8 .instant-ticker-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .instant-ticker-container:hover div {
    animation-play-state: var(--pause-on-hover)
}

.__instant.iQZ50CmlwAUihboH8 .instant-ticker-container:active div {
    animation-play-state: var(--pause-on-click)
}

@keyframes instant-ticker-instant-scroll-__instant-iQZ50CmlwAUihboH8 {
    0% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(calc(-100% - var(--gap)), 0, 0)
    }
}

.__instant.iQZ50CmlwAUihboH8 .instant-ticker {
    animation: instant-ticker-instant-scroll-__instant-iQZ50CmlwAUihboH8 var(--duration) linear infinite;
    animation-delay: 0s;
    animation-direction: var(--direction);
    animation-play-state: var(--play);
    transform: translateZ(0)
}

.__instant.iQZ50CmlwAUihboH8 .instant-ticker,
.__instant.iQZ50CmlwAUihboH8 .instant-ticker-initial-child-container {
    align-items: inherit;
    column-gap: inherit;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    min-width: auto
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-state=open],
.__instant.iQZ50CmlwAUihboH8 .instant-overlay[data-state=open],
.__instant.iQZ50CmlwAUihboH8 [data-instant-type=overlay][data-state=open] {
    opacity: 1;
    transform: none
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=bottom-end],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=top-end],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement^=left] {
    justify-content: flex-end
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=bottom-start],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=top-start],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement^=right] {
    justify-content: flex-start
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=left-start],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=right-start],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement^=bottom] {
    align-items: flex-start
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=left-end],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement=right-end],
.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-instant-dropdown-placement^=top] {
    align-items: flex-end
}

.__instant.iQZ50CmlwAUihboH8 .instant-overlay[data-state=closed],
.__instant.iQZ50CmlwAUihboH8 [data-instant-type=overlay][data-state=closed] {
    transform: translateX(-100%)
}

.__instant.iQZ50CmlwAUihboH8 .instant-dropdown--wrapper[data-state=closed],
.__instant.iQZ50CmlwAUihboH8 .instant-overlay[data-state=closed],
.__instant.iQZ50CmlwAUihboH8 [data-instant-type=overlay][data-state=closed] {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.__instant.iQZ50CmlwAUihboH8 .instant-reveal--transform,
.__instant.iQZ50CmlwAUihboH8 .instant-reveal--transform-fade {
    transform: var(--instant-reveal-from-translate, var(--instant-reveal-to-translate, translate(0, 0))) var(--instant-reveal-from-scale, var(--instant-reveal-to-scale, scale(1))) var(--instant-reveal-to-rotate, rotateZ(0)) var(--instant-reveal-from-rotate, rotateX(0) rotateY(0))
}

.__instant.iQZ50CmlwAUihboH8 .instant-scroll-trigger.instant-reveal--fade:not(.instant-scroll-trigger--hidden),
.__instant.iQZ50CmlwAUihboH8 .instant-scroll-trigger.instant-reveal--transform-fade:not(.instant-scroll-trigger--hidden),
.__instant.iQZ50CmlwAUihboH8 .instant-scroll-trigger.instant-reveal--transform:not(.instant-scroll-trigger--hidden),
.__instant.iQZ50CmlwAUihboH8 [data-state=open] .instant-open-overlay.instant-reveal--fade,
.__instant.iQZ50CmlwAUihboH8 [data-state=open] .instant-open-overlay.instant-reveal--transform,
.__instant.iQZ50CmlwAUihboH8 [data-state=open] .instant-open-overlay.instant-reveal--transform-fade {
    transform: var(--instant-reveal-to-translate, translate(0, 0)) var(--instant-reveal-to-scale, scale(1)) var(--instant-reveal-to-rotate, rotate(0))
}

.__instant.iQZ50CmlwAUihboH8 .instant-reveal--fade,
.__instant.iQZ50CmlwAUihboH8 .instant-reveal--transform-fade {
    opacity: 0
}

.__instant.iQZ50CmlwAUihboH8 .instant-scroll-trigger.instant-reveal--fade:not(.instant-scroll-trigger--hidden),
.__instant.iQZ50CmlwAUihboH8 .instant-scroll-trigger.instant-reveal--transform-fade:not(.instant-scroll-trigger--hidden),
.__instant.iQZ50CmlwAUihboH8 [data-state=open] .instant-open-overlay.instant-reveal--fade,
.__instant.iQZ50CmlwAUihboH8 [data-state=open] .instant-open-overlay.instant-reveal--transform-fade {
    opacity: 1
}

.__instant.iQZ50CmlwAUihboH8 .iUN4tuZK5l1EgdNAM {
    background: #eef6fd;
    overflow: var(--instant-overflow-clip, hidden)
}

.__instant.iQZ50CmlwAUihboH8 .iG5MyC4CUEhH2Aa2u,
.__instant.iQZ50CmlwAUihboH8 .iUN4tuZK5l1EgdNAM {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .iG5MyC4CUEhH2Aa2u {
    border-radius: 0 0 0 0;
    column-gap: 50px;
    flex-wrap: nowrap;
    height: auto;
    padding: 100px 135px;
    row-gap: 50px;
    width: 1440px
}

.__instant.iQZ50CmlwAUihboH8 .iZOgu6ssQJivV8xgJ {
    bottom: auto;
    left: auto;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    right: 358px;
    top: 56px;
    width: 131.15px
}

.__instant.iQZ50CmlwAUihboH8 .iDCfQqgb11z80LiJ7 {
    bottom: auto;
    left: 470px;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    right: auto;
    top: 56px;
    width: 131.15px
}

.__instant.iQZ50CmlwAUihboH8 .iQk6lVJ01NyAPsx9B {
    align-items: center;
    border-radius: 0 0 0 0;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    row-gap: 20px;
    width: 700px
}

.__instant.iQZ50CmlwAUihboH8 .iVnzNmNO59PIYYiqf {
    bottom: auto;
    color: #ffb62b;
    left: 249px;
    position: absolute;
    right: auto;
    top: 0
}

.__instant.iQZ50CmlwAUihboH8 .iRn2rEyEkGGrRv4mh,
.__instant.iQZ50CmlwAUihboH8 .iVnzNmNO59PIYYiqf {
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 48px;
    font-weight: 700;
    height: auto;
    justify-content: flex-start;
    line-height: 1.29;
    text-align: center;
    width: 547px
}

.__instant.iQZ50CmlwAUihboH8 .iRn2rEyEkGGrRv4mh {
    color: #271e52;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .iRCRoHRl0ohrAotKC {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 700;
    height: auto;
    justify-content: flex-start;
    line-height: 1.2;
    margin: -1px -78px -2px 21px;
    max-width: 700px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .iNcoC7Zh0PZXfA64u {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0 0 0 0;
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    row-gap: 24px
}

.__instant.iQZ50CmlwAUihboH8 .i1K4AKKO1fFFXj2YL {
    align-items: center;
    column-gap: 16px;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    padding: 0 0 16px;
    row-gap: 16px
}

.__instant.iQZ50CmlwAUihboH8 .i1K4AKKO1fFFXj2YL,
.__instant.iQZ50CmlwAUihboH8 .i3DAA6YAgxZl3bTv4 {
    align-self: stretch;
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .i3DAA6YAgxZl3bTv4 {
    align-items: flex-start;
    height: auto;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .i9KAbuMj1m9u75emQ {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .iWrsEYrY4NexdfxOf {
    align-items: center;
    column-gap: 16px;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    min-width: 0;
    padding: 0 0 16px;
    row-gap: 16px
}

.__instant.iQZ50CmlwAUihboH8 .iWrsEYrY4NexdfxOf,
.__instant.iQZ50CmlwAUihboH8 .isdiUnNkNot4r556Z {
    align-self: stretch;
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .isdiUnNkNot4r556Z {
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .i5Op222jR1ZqRKRpx {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .i3w3ezqTLBgPP801O {
    align-items: center;
    column-gap: 16px;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    min-width: 0;
    padding: 0 0 16px;
    row-gap: 16px
}

.__instant.iQZ50CmlwAUihboH8 .i3w3ezqTLBgPP801O,
.__instant.iQZ50CmlwAUihboH8 .i5wACLhOVsr6I7DoC {
    align-self: stretch;
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .i5wACLhOVsr6I7DoC {
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .iOZDsoHC0eJbqinrz {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .i1Z7Ccf21v3CqwENy {
    align-items: stretch;
    column-gap: 32px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 200px;
    position: relative;
    row-gap: 32px;
    width: 100%
}

.__instant.iQZ50CmlwAUihboH8 .ibGe4gbrYilEvo26z {
    align-items: center;
    column-gap: 16px;
    min-height: 346px;
    padding: 0 0 16px;
    row-gap: 16px;
    width: 374px
}

.__instant.iQZ50CmlwAUihboH8 .ibGe4gbrYilEvo26z,
.__instant.iQZ50CmlwAUihboH8 .iuLu2KocTX2BWJe0U {
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .iuLu2KocTX2BWJe0U {
    align-items: flex-start;
    align-self: stretch;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .i6LSWbuHzsptKJoD1 {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .iMaZcZtbTFrZYp3fr {
    align-items: center;
    column-gap: 16px;
    justify-content: center;
    min-height: 346px;
    padding: 0 0 16px;
    row-gap: 16px;
    width: 374px
}

.__instant.iQZ50CmlwAUihboH8 .i5BKZ9vAuoI2wqOMr,
.__instant.iQZ50CmlwAUihboH8 .iMaZcZtbTFrZYp3fr {
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .i5BKZ9vAuoI2wqOMr {
    align-items: flex-start;
    align-self: stretch;
    justify-content: flex-start;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .i8PiFJFLet5IccpUb {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

.__instant.iQZ50CmlwAUihboH8 .iBmMepTF4dUGdkkch {
    align-items: center;
    column-gap: 16px;
    justify-content: center;
    min-height: 346px;
    padding: 0 0 16px;
    row-gap: 16px;
    width: 374px
}

.__instant.iQZ50CmlwAUihboH8 .iBmMepTF4dUGdkkch,
.__instant.iQZ50CmlwAUihboH8 .iVKOJo1fH6Hmg8hUJ {
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    position: relative
}

.__instant.iQZ50CmlwAUihboH8 .iVKOJo1fH6Hmg8hUJ {
    align-items: flex-start;
    align-self: stretch;
    justify-content: flex-start;
    min-height: 258px
}

.__instant.iQZ50CmlwAUihboH8 .icWvFdTJoQzmSrid1 {
    align-self: stretch;
    color: #271e52;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Infant";
    font-size: 20px;
    font-weight: 600;
    height: auto;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 374px;
    position: relative;
    text-align: center
}

@media (max-width:1024px) {
    .__instant.iQZ50CmlwAUihboH8 .iQk6lVJ01NyAPsx9B {
        margin: 0 0 0 2px;
        width: 705px
    }

    .__instant.iQZ50CmlwAUihboH8 .iRCRoHRl0ohrAotKC {
        align-self: stretch;
        margin: -1px -54px -2px 54px;
        width: auto
    }

    .__instant.iQZ50CmlwAUihboH8 .iNcoC7Zh0PZXfA64u {
        align-self: auto;
        column-gap: 26px;
        height: auto;
        row-gap: 26px;
        width: 83%
    }
}

@media (max-width:768px) {
    .__instant.iQZ50CmlwAUihboH8 .iG5MyC4CUEhH2Aa2u {
        height: 1388px;
        min-height: 67px;
        width: 1452px
    }

    .__instant.iQZ50CmlwAUihboH8 .iZOgu6ssQJivV8xgJ {
        bottom: auto;
        left: auto;
        position: absolute;
        right: 397px;
        top: 10px
    }

    .__instant.iQZ50CmlwAUihboH8 .iDCfQqgb11z80LiJ7 {
        bottom: auto;
        left: 449px;
        position: absolute;
        right: auto;
        top: 10px
    }

    .__instant.iQZ50CmlwAUihboH8 .iQk6lVJ01NyAPsx9B {
        margin: -54px 0 0 -70px
    }

    .__instant.iQZ50CmlwAUihboH8 .iNcoC7Zh0PZXfA64u {
        display: none;
        flex-direction: column;
        row-gap: 24px
    }

    .__instant.iQZ50CmlwAUihboH8 .i1K4AKKO1fFFXj2YL,
    .__instant.iQZ50CmlwAUihboH8 .i3w3ezqTLBgPP801O,
    .__instant.iQZ50CmlwAUihboH8 .iWrsEYrY4NexdfxOf {
        align-self: stretch;
        flex-basis: 16px;
        flex-grow: 1;
        flex-shrink: 1;
        height: auto;
        min-height: 0;
        width: auto
    }

    .__instant.iQZ50CmlwAUihboH8 .i1Z7Ccf21v3CqwENy {
        align-items: center;
        column-gap: 5px;
        display: flex;
        justify-content: flex-start;
        row-gap: 5px
    }

    .__instant.iQZ50CmlwAUihboH8 .ibGe4gbrYilEvo26z {
        column-gap: 15px;
        row-gap: 15px
    }

    .__instant.iQZ50CmlwAUihboH8 .i8PiFJFLet5IccpUb {
        align-self: stretch;
        max-width: 381px;
        width: auto
    }
}

@media (max-width:575px) {
    .__instant.iQZ50CmlwAUihboH8 .iG5MyC4CUEhH2Aa2u {
        height: 1102px;
        min-height: 61px
    }

    .__instant.iQZ50CmlwAUihboH8 .iZOgu6ssQJivV8xgJ {
        bottom: auto;
        left: auto;
        position: absolute;
        right: 549px;
        top: 0;
        width: 70px
    }

    .__instant.iQZ50CmlwAUihboH8 .iDCfQqgb11z80LiJ7 {
        bottom: auto;
        left: 545px;
        position: absolute;
        right: auto;
        top: 0;
        width: 70px
    }

    .__instant.iQZ50CmlwAUihboH8 .iQk6lVJ01NyAPsx9B {
        aspect-ratio: auto;
        column-gap: 10px;
        justify-content: center;
        margin: -82px 0 -1px -80px;
        padding: 0;
        row-gap: 10px;
        width: 699px
    }

    .__instant.iQZ50CmlwAUihboH8 .iVnzNmNO59PIYYiqf {
        bottom: auto;
        font-size: 30px;
        left: 185px;
        position: absolute;
        right: auto;
        top: 0
    }

    .__instant.iQZ50CmlwAUihboH8 .iRn2rEyEkGGrRv4mh {
        font-size: 30px
    }

    .__instant.iQZ50CmlwAUihboH8 .iRCRoHRl0ohrAotKC {
        align-self: stretch;
        font-family: "Cormorant Infant";
        font-size: 15px;
        font-weight: 600;
        height: 1px;
        line-height: 1.14;
        margin: 0 0 0 229px;
        max-width: 313px;
        padding: 0 0 6px 16px;
        width: auto
    }

    .__instant.iQZ50CmlwAUihboH8 .i1K4AKKO1fFFXj2YL,
    .__instant.iQZ50CmlwAUihboH8 .i3w3ezqTLBgPP801O,
    .__instant.iQZ50CmlwAUihboH8 .iWrsEYrY4NexdfxOf {
        flex-basis: 16px
    }

    .__instant.iQZ50CmlwAUihboH8 .i1Z7Ccf21v3CqwENy {
        column-gap: 0;
        flex-basis: 0%;
        flex-grow: 10;
        flex-shrink: 1;
        max-height: 100%;
        max-width: 100%;
        min-height: 257px;
        padding: 0;
        row-gap: 0;
        width: 420px
    }

    .__instant.iQZ50CmlwAUihboH8 .ibGe4gbrYilEvo26z {
        column-gap: 17px;
        flex-direction: column;
        margin: 0 25px;
        min-height: 320px;
        padding: 0 0 22px;
        row-gap: 17px
    }

    .__instant.iQZ50CmlwAUihboH8 .i6LSWbuHzsptKJoD1 {
        align-self: stretch;
        font-size: 14px;
        width: auto
    }

    .__instant.iQZ50CmlwAUihboH8 .iMaZcZtbTFrZYp3fr {
        margin: 0 25px;
        min-height: 313px;
        width: 376px
    }

    .__instant.iQZ50CmlwAUihboH8 .i8PiFJFLet5IccpUb {
        align-self: stretch;
        font-size: 14px;
        width: auto
    }

    .__instant.iQZ50CmlwAUihboH8 .iBmMepTF4dUGdkkch {
        margin: 0 25px
    }

    .__instant.iQZ50CmlwAUihboH8 .icWvFdTJoQzmSrid1 {
        align-self: stretch;
        font-size: 14px;
        width: auto
    }
}